# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
src/config/*


# AWS credentials (if accidentally placed in project directory)
*.pem
.aws/

# Cache and build directories
dist/
build/
tmp/
temp/

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

